<!--<textarea class="text-left" name="" id="" cols="230" rows="20" [(ngModel)]="userService.template"></textarea>-->

<div *ngIf="userService.users">
  <!--BUTTONS-->
  <!--<div>
    Generate:
    <button class="btn btn-success" (click)="userService.matchAllUsers()">Match All Users</button>
    <button class="btn btn-success" (click)="userService.confirmAllMatches()">Confirm All Matches</button>
    <button class="btn btn-success" (click)="userService.settleAllMatches()">Settle All Matches</button>
  </div>-->
  <app-filters></app-filters>
  <!--TABLE-->
  <div class="col-md-12">
    <div class="text-right">
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th *ngFor="let column of userService.columns" class="text-center">
              {{column}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userService.users; let i=index">
            <ng-container *ngIf="userService.isIn(user)">
              <td class="text-center">{{i}}</td>
              <td class="info text-center">{{userService.getUserFullName(user.$key)}}</td>
              <td class="text-center">{{user.$key}}</td>
              <td class="text-center">{{user.location}}</td>
              <td class="text-center" [class.success]="user.matchConfirmed" [class.danger]="!user.matchConfirmed">
                {{userService.getUserFullName(user.currentMatch)}}
              </td>
              <td class="text-center">
                <app-dropdown *ngIf="user.matches" [matches]="user.matches"></app-dropdown>
              </td>
              <td class="text-center">
                <button [disabled]="!user.active || user.matchConfirmed" [class.btn-primary]="!user.currentMatch && user.active" [class.btn-danger]="user.currentMatch && user.active" class="btn" (click)="userService.matchUser(user)">
                    {{ (!user.currentMatch)  ? 'Match' : 'Unmatch' }}
                  </button>
                <button [disabled]="!user.active || !user.currentMatch " [class.btn-success]="!user.matchConfirmed && user.active" [class.btn-danger]="user.matchConfirmed && user.active"
                  class="btn" (click)="userService.confirmMatch(user)">
                  {{ user.matchConfirmed ? 'Unconfirm' : 'Confirm' }}
                  </button>
                <button [disabled]="!user.active || !user.matchConfirmed" [class.btn-info]="user.active" class="btn" (click)="userService.sendUsersLunches(user)">Email</button>
                <button [disabled]="!user.active || !user.matchConfirmed" [class.btn-warning]="user.active" class="btn" (click)="userService.settleMatch(user)">Settle</button>
                <button [class.btn-success]="!user.active" [class.btn-danger]="user.active" class="btn" (click)="userService.changeUserState(user)">
                  {{ user.active ? 'Deactive' : 'Active'}}
                </button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>