Filters:
<button class="btn btn-primary" (click)="showAll()">All</button>
<button class="btn btn-primary" (click)="filterUsersThatHaveMatched(true)">Have Matched</button>
<button class="btn btn-primary" (click)="filterUsersThatHaveMatched(false)">Have Not Matched</button>
<button class="btn btn-primary" (click)="filterUsersWithCurrentMatch(true)">With Current Match</button>
<button class="btn btn-primary" (click)="filterUsersWithCurrentMatch(false)">Without Current Match</button>
<button class="btn btn-primary" (click)="filterConfirmed(true)">Confirmed</button>
<button class="btn btn-primary" (click)="filterConfirmed(false)">Not Confirmed</button>
<button class="btn btn-primary" (click)="filterInactiveUsers()">Inactive Users</button>